data/
video_action_classification/weights/
video_action_classification/__pycache__/
video_action_classification/models/__pycache__/
video_action_classification/temp/
video_action_classification/wandb/

self_supervised_learning/__pycache__/
self_supervised_learning/models/__pycache__/
self_supervised_learning/wandb/

