data/
video_action_classification/weights/
video_action_classification/__pycache__/
video_action_classification/models/__pycache__/
video_action_classification/temp/
video_action_classification/wandb/

self_supervised_learning/__pycache__/
self_supervised_learning/weights/
self_supervised_learning/models/__pycache__/
self_supervised_learning/wandb/

lab2/images/

diffusion_generative_model/__pycache__/
diffusion_generative_model/src/__pycache__/
diffusion_generative_model/wandb/
diffusion_generative_model/samples/
diffusion_generative_model/weights/
